<?xml version="1.0" encoding="UTF-8"?>
<document
  xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

  <properties>
    <title>io7m-jstructural</title>
  </properties>

  <body>
    <subsection name="jstructural">
      <p>
        The <b>jstructural</b> package implements a set of primitives
        for producing technical documentation. The package provides
        a <a href="http://relaxng.org">RELAX-NG</a> schema describing
        the format of <b>structural</b> documents and a Java library
        (and command line tools) for producing XHTML output.
      </p>
      <p>
        In contrast to other systems such as <a
        href="http://docbook.org">DocBook</a>, the <b>structural</b>
        language only defines elements concerning the structure of the
        document and not the semantics of the elements. The intention
        is that higher level languages will produce <b>structural</b>
        documents as output and then use the provided stylesheets to
        get various services such as table of contents generation,
        chapter numbering, footnotes, et cetera, without having to
        re-implement all of those features for each new language.
      </p>
    </subsection>
    <subsection name="Features">
      <ul>
        <li>Full <a href="http://relaxng.org">RELAX-NG</a> schema for document validation.</li>
        <li>Implemented as pure Java for platform-independence.</li>
        <li>Carefully namespaced schema for ease of combination with other XML documents.</li>
        <li>Extensive documentation.</li>
        <li>Outputs clean and valid XHTML 1.0 Strict.</li>
        <li>Maven plugin for producing documentation as part of a standard Maven build.</li>
        <li>Complete and documented CSS for resulting XHTML, for ease of customization of output.</li>
        <li>ISC license.</li>
      </ul>
    </subsection>
  </body>

</document>
